<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>

<body>
<form class="align-self-baseline" method="post">
    <p>Enter string to reverse</p>
    <input type="text" name="input_string" placeholder="Enter your string"></input>
    <button name="bt" value="btn1" type="submit"
        class="btn btn-dark mb-4 button text-light"><span>Convert</span></button>
    <p>Reversed string : {{output_string}}</p>
</body>